{% extends "layout.html" %}
{% block body %}
<style>
    .ff{
        width:30vw
    }
</style>
<main class=" text-center form-signin ff wh m-auto">
    <form action="/dashboard" method="post">
      <img class="mb-4" src="{{url_for('static', filename='assets/img/bootstrap-logo.svg')}}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">RK Computer Admin</h1>
  
      <div class="form-floating">
        <input type="text" name="uname" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name="upass" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>
{% endblock %}
